<%= @current_deck.name %>

<div>
<% @features.each do |c|%>
  <%= link_to c.name, "/deck/" + @current_deck.id.to_s + "/feature/" + c.id.to_s %>
<% end %>
</div>  

<%= form_for :blog, :url => { :action => 'create_blog' } do |f| %>
  <%= f.kindeditor :content %>
  <%= f.submit :value=> "submit", :class => "button" %>
<% end %>

<%= "blogs of " + @current_feature.name %> 
<% @blogs.each do |c|%>
  <div class="block-item">
    <%= c.title %>
    <%= c.content.html_safe %>
    <%= link_to "delete", "/deck/delete_blog/" + c.id.to_s %>
  </div>
<% end %>  



