<header class="container">
<h1>Noah#7</h1>
<p class="sub-title">Save your memory before end of the world</p>
</header>

<section class="deck-detail container">
  <div class="deck-header">
    <p class="deck-name">
      <%= @current_deck.name %>
    </p>

    <ul class="feature-list">
      <% @features.each do |c|%>
        <li>
          <%= link_to c.name, "/deck/" + @current_deck.id.to_s + "/feature/" + c.id.to_s %>
        </li>
      <% end %>
    </ul> 
    <hr>
  </div> 

  <div class="blog-create" data-collapse>
    <h3 class="tip">Create new blog</h3>
    <div>
    <%= form_for :blog, :url => { :action => 'create_blog' } do |f| %>
      <%= f.kindeditor :content %>
      <%= f.submit :value=> "submit", :class => "button" %>
    <% end %>
  </div>
  </div>

  <div class="blog-list">
    <% @blogs.each do |c|%>
      <div class="blog-item">
        <h4 class="blog-title">
          <%= c.title %>
        </h4>
        <div class="blog-content">
          <%= c.content.html_safe %>
        </div>
        <div class="delete-link">
          <%= link_to "delete", "/deck/delete_blog/" + c.id.to_s %>
        </div>
      </div>
    <% end %> 
  </div> 
</div>



