<div class="container login-block"> 

  <%= form_tag('', :id => "auth-form") do %>
    <%= text_field_tag('username', nil, :placeholder => 'Username') %> 
    <%= password_field_tag('password', nil, :placeholder => 'Password') %>
    <%= submit_tag("Log In", :id => "login-button", :class => "btn btn-success") %>
  <% end %>

  <% if flash[:error_message] %>
    <div id="error-message" class="alert alert-error">
      <%= flash[:error_message] %>
    </div>
  <% end %>
</div>
   

