<section class="deck-detail container">

  <%= render :partial => 'subheader' %>

  <div class="blog-create" data-collapse>
    <p class="tip">+ create a new one</p>
    <%= form_for :blog, :url => deck_feature_blogs_path(@current_deck.id, @current_feature.id) do |f| %>
      <%= f.label :title, "title" %>
      <%= f.text_field :title %>
      <%= f.kindeditor :content %>
      <%= f.submit :value=> "submit", :class => "button" %>
    <% end %>
  </div>

  <div class="header-block">
  </div>

  <div class="blog-list">
    <% @blogs.each do |c|%>
      <div class="blog-item" id="<%= c.id %>">
        <h4 class="blog-title" id="<%= c.id %>">
          <span class="blog-date">
            <%= c.created_at.strftime("%d %b %y") %>
          </span>
          <%= c.title %>
        </h4>
        <div class="blog-content" id="<%= c.id %>" >
          <%= c.content.html_safe %>
        </div>
        <div class="edit-form" id="<%= c.id %>"></div>
        <div class="operation">
          <%= link_to "<edit> ", "#", :class => "edit", :id =>c.id %>
          <%= link_to "<cancel> ", "#", :class => "cancel", :id =>c.id %>
          <%= link_to "<delete> ",deck_feature_blog_path(@current_deck.id, @current_feature.id, c.id),:confirm => "Are you sure?", :method => :delete, :class => "delete" %>
        </div>
      </div>
    <% end %> 
  </div>

  <div class="footer-block">
  </div>

  <div class="time-panel">
    <div class="horizon-timeline">time-panel</div>
    <div class="mouse-detector"></div>
  </div> 
</section>
