<!DOCTYPE html>
<html>
<head>
  <title>Noah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="container">
  <h1><a href="<%=root_path%>">Noah.7</a></h1>
  <p class="sub-title">Save your memory before end of the world</p>

  <% if session[:logged_uid].present?%>
    <p class="welcome-user">Hi  
      <%= session[:logged_user_name] %>
    </p>
    <a href="/noah/logout" class="logout">logout</a>
  <% else %>

  <% end %>
</header>

<%= yield %>

</body>
</html>
